__pycache__/
migrations/
polls
Photos
IMS_backend/settings.pyc
__pycache
IMS_backend/__pycache__/
IMS_backend/__pycache__/urls.cpython-38.pyc
IMS_backend/__pycache__/settings.cpython-38.pyc
IMS_backend/__pycache__/urls.cpython-38.pyc
IMS_backend/__pycache__/settings.cpython-38.pyc
